body {
    background-color: #001020;
}
#flex{
    display: flex;
    flex-direction: row;
}
nav {
    Background-color: #ececec;
}
main {
    background-color: #fff;
}
h1 {
    color :#001020;
}
<li><a href="week0.html">Антильский ворон</a></li> {
    background-color: #001020;
}
#<a href="week0.html"> {
    background-color: #001020;
}
body {
    background-color: #001020;
}